<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{../../css/style.css}"/>
</head>
<body>
<div class="center-form">
    <form class="search-form" method="post" th:action="@{/user/password/reset}">
        <input class="input" type="text" placeholder="PhoneNumber" name="phoneNumber">
        <input class="input" type="password" placeholder="New password" name="password">
        <button class="btn secondary" type="submit">Update password</button>
    </form>
</div>
</body>
</html>
